body,html
{  margin-top: -10%;
  height:100%;
  margin:0;

}
body
{  color:white;
   background-image:url("bgpic1.jpg");
   height:100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size:cover;
}
.bg
{}
.bg .jumbotron
{ display: none;
}
.bg .btn-circle {
  background-color: #FFFF00;
  margin-top: 170px;
  opacity: 0.5;
  width: 300px;
  height: 300px;
  text-align: center;
  padding: 50px;
  font-size: 70px;
  line-height: 1.42;
  border-radius: 150px;
   font-family:'Lobster',cursive;
   color :#FF0000;
}

.jumbotron {
  background: transparent;
  font-family:'Lobster',cursive;
  height: 350px;
  color: white;
  text-shadow: #444 0 1px 1px;
  
}
#hd
{ font-size: 100px;


}
#lead
{ font-size: 70px;
}


My changes:


CHanges 3
